---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">



      <h1 class="home-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

        <div class="icon-tags" style="float: left; margin: 0 1.5em 0 0">
            {% assign featured_tags = post.featured | split: " " %}
            {% for tag in featured_tags %}
            <div><a href="/tag/{{ tag }}/"><img alt="{{ tag }}" src="/images/tags/200-{{ tag }}.png" style="max-height: 5em"/></a></div>
            {% endfor %}
        </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

{% include archive.html %}