---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1 class="home-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <div style="float: right">
      <a href="{{ post.url }}" class="read-more">Read More</a>
      </div>

      <div class="tag-icon-set">
      {% assign featured_tags = post.featured | split: " " %}
      {% for tag in featured_tags %}
      <a href="/tag/{{ tag }}/"><img alt="{{ tag }}" src="/images/tags/54/{{ tag }}.png" /></a>
      {% endfor %}
      </div>

    </article>
  {% endfor %}
</div>

{% include archive.html %}